.page-services-single {
  .content {
    >p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

.underconstruction:hover {
  cursor: default;
  // opacity: 0.8;
  text-decoration: none;
}

.underconstruction {
  opacity: 0.6;
}

.ref {
  font-size: x-small;
  color: gray;
}