.page-home {
}

.figure-caption {
  font-size: smaller;
  // line-height: 26px;
  color: #5c5a5a;
  font-family: Helvetica, Arial, sans-serif, -apple-system;
  margin-bottom: 20px;
}

.navio-image {
  align-self: center;
}

.summary {
  line-height: 26px;
  color: #5c5a5a;
  font-family: Helvetica, Arial, sans-serif, -apple-system;
  margin-bottom: 20px;
  width: 100%;
}

.last-update {
  padding-right: 30px;
  font-size: smaller;
  text-align: right;
}

.pessoa-title {
  margin-left: -15px;
}

.center-two-images {
  display: flex;
  height: 300px;
  justify-content: space-between;
  width: 50%;
}

.quote {
  border-left: 2px #ea524d solid;
  margin: 1em;
  padding: 0 1em;
}
