.page-home {
}

.figure-caption {
  font-size: smaller;
  // line-height: 26px;
  color: #5c5a5a;
  font-family: Helvetica, Arial, sans-serif, -apple-system;
  margin-bottom: 20px;
}

.navio-image {
  align-self: center;
}

.summary {
  line-height: 26px;
  color: #5c5a5a;
  font-family: Helvetica, Arial, sans-serif, -apple-system;
  margin-bottom: 20px;
  width: 100%;
}
